.PaletaListItem {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
}

.PaletaListItem:hover {
    transform: scale(1.09);
}

@media (max-width: 400px) {
    .PaletaListItem {
        width: 210px;
        height: 180px;
    }
}

.PaletaListItem>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.PaletaListItemTitulo {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
}

.PaletaListItemDescricao {
    font-size: 0.85em;
    width: 100%;
}

.PaletaListItemPreco {
    color: darkviolet;
}

.Action {
    display: flex;
    justify-content: space-between;
}

.ActionPut,
.ActionRemove {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
}

.ActionRemove {
    background-color: #ff3236;
}

.ActionPut {
    background-color: darkviolet;
    transition: all 0.9s;
}

.ActionPutFill {
    width: 100%;
}

.PaletaListItemFoto {
    height: 150px;
    margin-right: -60px;
}

.PaletaListItem--disable {
    box-shadow: 0px 0px 7px rgba(148, 0, 211);
}

.PaletaListItem--disable,
.PaletaListItem--disable .PaletaListItemPreco {
    color: gray;
}

.PaletaListItem--disable .PaletaListItemBadge {
    display: none;
}

.PaletaListItem--disable img {
    filter: grayscale(100%);
}

.PaletaListItem--disable button:disabled {
    background-color: gray;
}

.PaletaListaItem--delete {
    box-shadow: 0px 0px 7px rgba(211, 0, 0);
}

.PaletaListItem:hover {
    filter: brightness(0.9);
    background-color: rgb(121, 224, 244);
    color: black;
}

.PaletaListItemPreco:hover {
    color: darkviolet;
}

.PaletaListItemTagEdit {
    background-color: darkviolet !important;
    color: white !important;
    position: absolute;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -15px;
    left: -10px;
    letter-spacing: 1px;
}

.PaletaListItemTagDelete {
    background-color: #ff3236 !important;
    color: white !important;
    position: absolute;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -15px;
    left: -10px;
    letter-spacing: 1px;
}

.PaletaListItemBadge {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: black;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -9px;
    left: -9px;
}


.ButtonAtualizar--disable:hover {
    color: rgb(211, 160, 233);
}